body {
    background-color: rgb(220, 245, 220); 
    margin: 0;  
}

header {
    background-color: rgb(150, 230, 150); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header h1 {
    font-size: 2em;
}

header a {
    text-decoration: none;
    font-size: 2em;
    margin-left: 5px;
    font-weight: 800;
    color: black;
}

header a:hover {
    text-decoration: none;
    font-size: 30px;
    margin-left: 5px;
    font-weight: 800;
    color: rgb(34, 102, 34); 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    width: 20%;
    margin: 1em;
    background-color: rgb(190, 240, 190); 
    .Kate {
        text-align: center;
        padding: 5px;
        margin-top: 5px;
    }
    .rbuttons {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    .rbutton-container {
        display: flex;
    }
    label {
        font-size: 1em;
        margin: 3px;
    }
}

main  {
    width: 60%;
}

.task {
    background-color: rgb(240, 250, 240); 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    height: 150px;
}

.answers {
    height: 250px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100px 100px;
    grid-column-gap: 10%;
    grid-row-gap: 25px;
    button {
        background-color: rgb(240, 250, 240);
        border: 1px solid grey;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
    }
    button:hover {
        background-color: rgb(230, 240, 230); 
    }
}

.statistik {
    background-color: rgb(240, 250, 240); 
    margin: 20px;
    display: none;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    text-align: justify;
}

aside {
    width: 20%;
    margin: 1em;
    background-color: rgb(190, 240, 190); 
    border-radius: 15px;
}

.progress-container {
    text-align: center;
    margin-top: 1em;
}

.progress-label {
  margin: 1em;
}

.progress-bar-container {
  width: 20px; /* Breite der Fortschrittsleiste */
  height: 200px; /* Höhe der Fortschrittsleiste */
  background-color: #f5f5f5; /* Hintergrundfarbe der Leiste*/
  border-radius: 10px; /* Abgerundete Ecken */
  overflow: hidden; /* Damit der Fortschrittsbalken nicht über die Grenzen hinausgeht */
  margin: 0 auto; /* Zentrierung */
}

.progress-bar {
  width: 100%;
  height: 0%;
  background-color: #4caf50; /* Farbe des Fortschrittsbalkens */
  transition: height 0.5s ease; /* Animation beim Ändern der Höhe */
}

.progress-count {
  margin-top: 10px;
}

@media all and (max-width: 800px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 95%;
        margin: 1em;
        background-color: rgb(190, 240, 190); 
        border-radius: 15px;
        .rbuttons {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    main {
        width: 100%;
    }

    aside {
        width: 95%;
    }
    
    .progress-container {
        display: flex;
        flex-direction: row;
    }
    
    .progress-bar-container {
        margin-top: 15px;
        width: 70%; /* Breite der Fortschrittsleiste */
        height: 20px; /* Höhe der Fortschrittsleiste */
        background-color: #f5f5f5; /* Hintergrundfarbe der Leiste */
        border-radius: 10px; /* Abgerundete Ecken */
        overflow: hidden; /* Damit der Fortschrittsbalken nicht über die Grenzen hinausgeht */
    }
    
    .progress-bar {
        width: 0%;
        height: 100%;
        background-color: #4caf50; /* Farbe des Fortschrittsbalkens */
        transition: width 0.5s ease; /* Animation beim Ändern der Höhe */
    } 

    .progress-label {
        margin-left: 5px;
    }

    .progress-count {
        margin-top: 15px;
        margin-right: 25px;
        justify-content: left;
    }
}
